body {display:flex; height: 100vh; font-family: Arial, Helvetica, sans-serif;}
h2 {margin: 0; font-size: 32px;}
h3 {
    margin: 0;
    color: rgb(122, 122, 122);
}

button {
    height: 64px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid rgb(116, 116, 116);
    background-color: rgb(94, 94, 94);
    font-size: 1.5rem;
    color: rgb(254, 254, 254);
}

.calculator {
    width: 280px;
    margin: auto;
    background-color: rgb(32, 32, 32);
    border: 1px solid rgb(161, 161, 161);
    border-radius: 16px;
    padding: 16px;
}
.numberDisplayWindow {
    background-color: white;
    border: 1px solid rgb(161, 161, 161);
    border-radius: 3px;
    padding: 8px 8px;
    margin-bottom: 16px;
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 8px;
    
}

#equals,
#clears {
    background-color: rgb(221, 144, 0);
}